#app{
    background-image: linear-gradient(to left bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    min-height: 100vh;
    padding: 1rem;
    color: white;

    input, textarea, button {
        color: white;
        &::placeholder {
            color: white;
        }

        &::-webkit-calendar-picker-indicator {
            color: white;
            // display: none;
            background-color: white;
            border-radius: 50%;
            padding: 0.25rem;
            font-size: 0.75rem;
            top: 2rem;
            transform: translateY(0.2rem);
        }
    }
}