@import "./../../style/variables";

*[class$="-title"]{
    width: 100%;
    margin-bottom: 1rem;
    font-size: 2rem !important;
    text-align: center;
    text-transform: uppercase;
    
    @media #{$mobile}{
        font-size: 3.5rem !important;
    }
}

.slots {
    &-wrapper {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        padding-top: 2rem;

        & * {
            font-size: 1.25rem;
            
            @media #{$mobile}{
                font-size: 2.5rem;
            }
        }
    }
}

.slot,
.task-builder,
.task-searcher {

    &-container {
        @include border-radius;
        width: 80%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: stretch;
        box-shadow: 0 0 20px transparent;
        
        transition: all .35s;

        @media #{$mobile}{
            flex-flow: column nowrap;
            border: solid 1px white;
        }
        
        &.active {
            margin: 2rem auto;
            padding: 1.5rem 1rem;
            opacity: 1;
            box-shadow: 0 0 20px rgb(255,255,255,0.4);
            transform: scale(1.05);
            background-color: rgba(255,255,255,0.2);
        }
    
        &.inactive {
            padding: 0;
            opacity: 0.7;
        }

        &.is-validated {
            opacity: 0.3;
            transform: scale(0.95) translateX(-5rem);
        }
        
    }
    
    &-child {
        @include border-radius;
        @include genericBackground;
        padding: 0.75rem;
        overflow: hidden;
        cursor: default;
        text-align: center;

        &[type="date"] {
            align-items: flex-start;
        }

        @media #{$mobile}{
            width: 100% !important;
            padding: 1.5rem 0;
        }
    }

    &-label {
        width: 10%;
    }

    &-description {
        width: 25%;
    }

    &-start-date {
        width: 20%;
    }
    
    &-end-date {
        cursor: pointer;
        width: 20%;
        opacity: 0.2;

        transition: opacity .4s;

        &.fullfilled,
        &:active,
        &:focus {
            opacity: 1;
        }
    }

    &-button {
        &-confirm,
        &-delete,
        &-reset {
            @include border-radius;
            @include genericBackground;
            cursor: pointer;
        }

        &-delete {
            &:focus {
                border: solid 1px red;
            }
        }
    }

}

.task-builder,
.task-searcher {
    &-container {
        @include genericBackground;
        padding: 2rem 1rem;
        margin: 0 auto 1rem auto;
    }
    &-child {
        cursor: pointer;

        &:nth-child(1){
            width: 100%;
        }
        &:nth-child(2){
            width: 30%;
        }
        &:nth-child(3){
            width: 30%;
        }
        &:nth-child(4){
            width: 30%;
        }
    }
}

.task-searcher {
    &-text,
    &-date {
        opacity: 0.5;
        border: solid 2px transparent;

        transition: all .4s;

        &.active {
            opacity: 1;
            border: solid 2px white;
        }

        &:focus {
            opacity: 1;
        }
    }

    &-date {

        &::-webkit-calendar-picker-indicator {
            position: absolute;
            top: 0.75rem !important;
        }
    }

}

.task-builder {
    &-container {
        margin-top: 3rem;
    }
}

.slot {
    &-container {
        margin: 1rem auto;
    }
    &-button {
        &-delete {
            width: 10%;
        }
    }
}
